/** CSS for the Landing Page */
/* Iteration One, by Emily */


/** at last, the chosen font **/
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

/** From Embee's iteration, renamed to be consistent with the rest **/

/*  Originally '.firstphone' */
#pitch_phone {
  position: absolute;
  width: 225px;
  height: 455px;
  left: 295px;
  top: 220px;
  animation: fade-in duration timing-function delay iteration-count direction fill-mode;

  background: url(../images/pitch_phone.png);
  border-radius: 30px;
  -webkit-animation: fade-in-top 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-top 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/** borrowed from bootstrap **/


/** Our Created Styles **/

body {
  background: linear-gradient(180deg, #061210 4.69%, #0D2520 23.44%, #032D22 35.94%, #061210 92.71%);
}

#background {
  position: relative;  
}
/** NAVBAR STYLES **/

/* StonkStache */
#stonkstash_title {
  width: 219px;
  height: 26px;
  float: left;


  font-family: Coda;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

#stonkstash_logo {
  width: 60px;
  height: 36px;
}

/* Mission */

#mission_button {
  width: 132px;
  height: 27px;

  /*color: #94CFC1;*/ /** className="light" **/
}




/* Learn */
#learn_button {
  width: 112px;
  height: 27px;
  
  /*color: #94CFC1;*/ /** className="light" **/
}





/* Watch */
#watch_button {
  width: 112px;
  height: 27px;
 
  /*color: #94CFC1;*/ /** className="light" **/
}

/* Discover */
#discover_button {
  width: 122px;
  height: 27px;
  
  /*color: #94CFC1;*/ /** className="light" **/
}

/** SPLASH, the first section (following the navbar ofc) **/

#splash {
  width: auto;
  margin-top: 60px;
}

 /* Welcome to StonkStache */
#welcome_text {

  width: 601px;
  height: 49px;
  display: block;
  margin: 0 auto;
  text-align: center; 

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* The only tool you need to become a successful stock market investor. */

#pitch_text {
  width: 332px;
  height: 75px;


  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* Desktop and Mobile Website Coming April 2021 */
#release_date_text {
  width: 321px;
  height: 49px;

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* UWS Rectangle */
#inform_button {
  position: absolute;
  width: 170px;
  height: 45px;
  left: 599px;
  top: 575px;
  
  background: #09201B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* Inform me! */
#inform_button_text {
  position: absolute;
  width: 136px;
  height: 17px;
  left: 616px;
  top: 589px;

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/*#pitch_phone {
  width: 225px;
  height: 455px;
  z-index: 1;
  position: absolute;


  border-radius: 30px;
} */

/* Rectangle 18, the thing under half the phone, that block of text, and the button. */
#pitch_block {
  position: absolute;
  width: 599px;
  height: 253px;
  left: 261px;
  top: 411px;

  background: rgba(59, 97, 88, 0.85);
  border: 0.25px solid #72A599;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Our mission is to help YOU use the free investing resources of today to your benefit rather than your detrimate. */

#pitch_mission {
  position: absolute;
  width: 285px;
  height: 112px;
  left: 540px;
  top: 443px;

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #BCEADF;

}

/** Mission CSS **/

/* Rectangle 22 */
#mission_rect {
  /*position: absolute;*/
  /*width: 100%;*/
  height: 364px;
  /*left: 0px;
  top: 748px;*/
  padding: 20px;
  display: block;

  background: #061210;
  border-top: 0.5px solid #94CFC1;
  border-bottom: 0.5px solid #94CFC1;
}

/* Mission: */
#mission_title {
  /*position: absolute;*/
  width: 150px;
  /*height: 26px;*/
  display: block;
  margin: 0 auto;
  
  
  font-family: Coda;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  text-align: center; 
  letter-spacing: 0.05em;
  
  /*color: #94CFC1;*/ /** className="light" **/
}

/* Investing in the stock market has been localized with free platforms like Robinhood and WeBull therefore, this advancement 
removed any barrier of entry into the stockmarket “no matter how much experience you have (or don’t have)” (Robinhood). This may 
sound idealistic however, we emphasize the economic principle of intentions versus effects. A staggering 90% of hopeful and 
seasoned investors lose money in the stock market; these apps removing any barrier to entry have only exacerbated that statistic. 
Investing is no get rich quick scheme but can ensure a prosperous future if approached with the correct mindset and strategy. 
Investing in the stock market is not hard; like most things, it entails a learning curve. Stonkstache is here to walk you through the 
learning curve and serve as your educational tool to understanding the principles and mindset of successful investors. */
#mission_text {


  /*position: absolute; */
  width: 1047px;
  height: 210px;
  /*left: 58px;
  top: 861px; */
  margin: 25px auto;
  text-align: center; 

  
  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 30px;
  /* or 187% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/** Frame 2**/

/* Frame 19544660 */
#frame_2_rect {
  /*position: absolute;*/
  width: 100%;
  height: 674px;
  /*left: 0px;
  top: 1112px; */
}

#frame_2_rect > div {
  display: inline;
}


/* Frame 19544657 */
#watch_phone {
  position: absolute;
  width: 226px;
  height: 456px;
  left: 326px;
  bottom: 126px;
  
  /*background: url(Screen Shot 2021-01-28 at 4.14.37 PM.png);*/
  border-radius: 30px;
  
}

/* The header text in the vertical carosel. */
#vc_header {
  width: 441px;
  height: 26px;

  font-family: Coda;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* The paragraph text in the vertical carosel */
#vc_text {
  width: 400px;
  height: 57px;

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* Component 1 */
.elevator { /** I have no idea what the Learn, Discover, Watch thing is called in practice. My bad yall. **/
  /*position: absolute;*/
  /*width: 114px;
  height: 120px; */
  /*left: 147px;
  bottom: 720px;*/
  vertical-align: middle;


}



/* Vector 36 */
.elevator_up_arrow {
  /*position: absolute;*/
  /*width: 10px;
  height: 10px; */
  /*left: 232.14px;
  bottom: 849.93px;*/

  
  /*border: 2px solid #054939;*/
  /*transform: rotate(135deg);*/
}

/* Vector 35 */
.elevator_down_arrow {
  /*position: absolute;*/
  /*width: 10px;
  height: 10px; */
  /*left: 216px;
  bottom: 681.93px;*/


  /*border: 2px solid #054939;*/
  /*transform: rotate(-45deg);*/
}


/**TODO: Determine distinction between ACTIVE level and INACTIVE LEVEL **/
/* Learn */
.elevator_level_one { /* Pulled from figma where LEARN is the active.*/
  /*position: absolute;*/
  /*left: 35.09%;
  right: 2.63%;
  top: 0%;
  bottom: 78.33%; */


  font-family: Coda;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* Discover */
.elevator_level_two {
  /*position: absolute;*/
  /*left: 0%;
  right: 0%;
  top: 39.17%;
  bottom: 39.17%;*/
 
  
  font-family: Coda;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  
  /*color: #054939;*/ /** className="dark" **/
}

/* Watch */
.elevator_level_three {
  /*position: absolute;*/
  /*left: 27.19%;
  right: 2.63%;
  top: 78.33%;
  bottom: 0%;*/
 

  font-family: Coda;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;

  /*color: #054939;*/ /** className="dark" **/
}
/* The INACTIVE levels have some kind of on click behavior specified in the FIGMA doc. Don't forget about that,
Emily stresed that alot so lets make it happen.*/

/** ========== **/
/** Closing Words Section**/

/* Rectangle 23 */
#closing_rect {
  /*width: 100%;*/
  height: 201px;
  /*left: -3px;
  top: 1752px; */
  padding-top: 45px;
  padding-left: 40px;
  
  background: #061210;
  border-top: 0.5px solid #94CFC1;
  border-bottom: 0.5px solid #94CFC1;
}


/* When You Make it Over the Learning Curve: Delete Us! */
#closing_header {
  width: 805px;
  height: 26px;
  /*left: 39px;
  top: 1798px;*/
  margin-bottom: 20px;
  

  font-family: Coda;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/

}
 /* Or hold on to this tool for its no-nonsense display of volatility and balance sheets and to reinforce the basic but nonetheless essential pillars to successful long-term investing. */
#closing_text {
  width: 1081px;
  /*left: 39px;
  top: 1844px; */

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* Stonkstache is for information and educational purposes only. It is not intended to be an investment advice. Please consider the risk involved and your personal financial situation before investing or seek a duly licensed professional for investment advice. */
#closing_disclaimer {
  width: 1131px;
  height: 63px;
  /*left: 14px;
  top: 1928px;*/

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 30px;
  /* or 333% */

  letter-spacing: 0.05em;

  color: #33554D;
}

/** ========== **/

#footer_rect {
  margin-top: 45px;
  margin-left: 10px;
  margin-bottom: 45px;
}

/** Footer Contents **/

/* Terms & Conditions */
#terms_link {

  width: 196px;
  height: 45px;
  display: block;


  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* Disclaimers */
#disclaimers_link {

  width: 107px;
  height: 44px;
  display: block;


  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* Privacy */
#privacy_link {

  width: 107px;
  height: 45px;
  display: block;


  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/

}

/* Join our monthly newsletter for early access to any information regarding the launch! */
#newsletter_text {
  width: 763px;
  height: 39px;
  display: block;


  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}

/* Rectangle 20 */
#newsletter_input_field {
  width: fit-content;
  height: 57px;
  display: inline;

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  background: rgba(59, 97, 88, 0.85);
  border: 0.25px solid #72A599;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Email... */
#newsletter_input_placeholder {
  width: 196px;
  height: 28px;


  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/

}

/* Rectangle 21 */
#newsletter_submit_button {
  width: 104px;
  height: 40px;
  display: inline;

  background: #051D18;
  /*border: 0.25px solid #72A599;*/
  box-sizing: border-box;
  border-radius: 10px;

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: 0.05em;
}

/* Join! */
#newsletter_submit_text {
  position: absolute;
  width: 43px;
  height: 29px;


  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: 0.05em;

  /*color: #94CFC1;*/ /** className="light" **/
}
/** ========== **/
/** True Bottom **/

/* Vector 23 */
#bottom_stache {
  width: 69px;
  height: 21px;
  display: block;

  border-radius: 5px;
}

/* 2021 Stonkstache. All Rights Reserved. */
#all_rights_text {
  width: 235px;
  height: 28px;
  display: block;

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */

  letter-spacing: 0.05em;

  /*color: #054939;*/ /** className="dark" **/
}


/** ========== **/

/** Common Utilities **/
.slogan_line_right {
  position: absolute;
  width: 1155px;
  height: 0px;
  left: 1152px;
  bottom: 278px;

  border: 0.5px solid #94CFC1;
  transform: rotate(180deg);
}

/** Classes **/
.navbar_text {
  padding-top: 20px;
  float:right;

  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
}

/** Color Classes**/

.light {
  color: #94CFC1 !important;
}

.dark {
  color: #054939;
}

/** Animation **/

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Emb Code */

.missionstatement
{
position: absolute;
width: 285px;
height: 112px;
left: 541px;
top: 463px;
}


.containerstasche
{
position: absolute;
width: 60px;
height: 36px;
left: 198px;
top: 15px;

}


.missiondetail
{
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #BCEADF;
}




.missionparagraph
{
 
  
  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  
  letter-spacing: 0.05em;
  
  color: #94CFC1;
}

.name
{
position: absolute;
width: 219px;
height: 26px;
left: 3px;
top: 20px;

font-family: Coda;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 28px;
text-align: center;
letter-spacing: 0.05em;

color: #94CFC1;
}


.name1
{
position: absolute;
width: 601px;
height: 49px;
left: 277px;
top: 118px;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 60px;
letter-spacing: 0.05em;

color: #94CFC1;
}


.firstphone
{

position: absolute;
width: 225px;
height: 455px;
left: 295px;
top: 220px;
animation: fade-in duration timing-function delay iteration-count direction fill-mode;

background: url(../images/pitch_phone.png);
border-radius: 30px;
-webkit-animation: fade-in-top 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;


}

.detail1
{
position: absolute;
width: 332px;
height: 75px;
left: 541px;
top: 193px;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.05em;

color: #94CFC1;
}



.Retanglearoundphone
{
  position: absolute;
width: 599px;
height: 253px;
left: 261px;
top: 411px;

background: rgba(59, 97, 88, 0.85);
border: 0.25px solid #72A599;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}



.informbutton
{

position: absolute;
width: 170px;
height: 45px;
left: 599px;
top: 575px;

background: #09201B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.informme
{
  position: absolute;
width: 136px;
height: 17px;
left: 616px;
top: 589px;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #94CFC1;


}

